<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CloudTMSla</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>authentication.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>registration.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <description>Requires user to log in as a member</description>
    <filter-name>MemberLoginFilter</filter-name>
    <filter-class>authentication.LoginFilter</filter-class>
    <init-param>
      <param-name>avoid-urls</param-name>
      <param-value>/login.jsp,/LoginServlet,/registration.jsp,/index.jsp,/UserServlet,</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>MemberLoginFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TemplateServlet</display-name>
    <servlet-name>TemplateServlet</servlet-name>
    <servlet-class>templateManage.TemplateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemplateServlet</servlet-name>
    <url-pattern>/TemplateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>util.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>administration.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>authentication.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTemplateServlet</display-name>
    <servlet-name>ViewTemplateServlet</servlet-name>
    <servlet-class>templateManage.ViewTemplateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTemplateServlet</servlet-name>
    <url-pattern>/ViewTemplateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplicationServlet</display-name>
    <servlet-name>ApplicationServlet</servlet-name>
    <servlet-class>templateManage.ApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplicationServlet</servlet-name>
    <url-pattern>/ApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TemplateReaderServlet</display-name>
    <servlet-name>TemplateReaderServlet</servlet-name>
    <servlet-class>templateManage.TemplateReaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TemplateReaderServlet</servlet-name>
    <url-pattern>/TemplateReaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JsonGetChartServlet</display-name>
    <servlet-name>JsonGetChartServlet</servlet-name>
    <servlet-class>templateManage.JsonGetChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JsonGetChartServlet</servlet-name>
    <url-pattern>/JsonGetChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>templateManage.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PullRhqChartServlet</display-name>
    <servlet-name>PullRhqChartServlet</servlet-name>
    <servlet-class>templateManage.PullRhqChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PullRhqChartServlet</servlet-name>
    <url-pattern>/PullRhqChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RhqConfigServlet</display-name>
    <servlet-name>RhqConfigServlet</servlet-name>
    <servlet-class>administration.RhqConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RhqConfigServlet</servlet-name>
    <url-pattern>/RhqConfigServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RhqConfigUpdateServlet</display-name>
    <servlet-name>RhqConfigUpdateServlet</servlet-name>
    <servlet-class>administration.RhqConfigUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RhqConfigUpdateServlet</servlet-name>
    <url-pattern>/RhqConfigUpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingSlaPrediction</display-name>
    <servlet-name>ViewPendingSlaPrediction</servlet-name>
    <servlet-class>templateManage.ViewPendingSlaPrediction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingSlaPrediction</servlet-name>
    <url-pattern>/ViewPendingSlaPrediction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPredictionCharts</display-name>
    <servlet-name>ViewPredictionCharts</servlet-name>
    <servlet-class>templateManage.ViewPredictionCharts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPredictionCharts</servlet-name>
    <url-pattern>/ViewPredictionCharts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SlaPredictionServlet</display-name>
    <servlet-name>SlaPredictionServlet</servlet-name>
    <servlet-class>templateManage.SlaPredictionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SlaPredictionServlet</servlet-name>
    <url-pattern>/SlaPredictionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RhqUploadServlet</display-name>
    <servlet-name>RhqUploadServlet</servlet-name>
    <servlet-class>administration.RhqUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RhqUploadServlet</servlet-name>
    <url-pattern>/RhqUploadServlet</url-pattern>
  </servlet-mapping>
</web-app>