#CONSUMER:
Local_DP_IP_Address=127.0.0.1
Local_DP_port_number=7000
Local_IP_IP_Address=127.0.0.1
Local_IP_port_number=7100
Local_ack_port_number=7500
#time in millisecond
LogService_IP_Address=127.0.0.1
LogService_port_number=8000
#time to creaze zip file
LogService_Transmission_Period=30000
ID=
SenderTimeout=90000
