#PRODUCER:
Consumer_DP_IP_Address=127.0.0.1
Consumer_DP_port_number=7000
Consumer_IP_IP_Address=127.0.0.1
Consumer_IP_local_port_number=7150
Consumer_IP_remote_port_number=7100
hostName=VM05
Producer_IP_Address=
Producer_Group=G01
Producer_Provider=P01
CPU_Component_ID=C_VM01
MEM_Component_ID=M_VM01
NET_Component_ID=Net_VM01
DSK_Component_ID=D_VM01
JMX_Component_ID=J_VM01
Collect_Timeout=90000
