#INFINISPAN PROBE:

#Sebastiano
Infinispan_IP_Address=
Infinispan_JMX_port_number=8081
Cache_name=___defaultcache
JMXDomain_primary=org.infinispan
JMXDomain_secondary=org.infinispan
Replication_type=repl_sync
Cache_Manager=DefaultCacheManager
UseJBoss=false
ResetStats= false

#inesc
#Infinispan_IP_Address=10.100.0.54
#Infinispan_JMX_port_number=9999
#Cache_name=DomainCache
#JMXDomain_primary=it.geograph
#JMXDomain_secondary=it.geograph-farm
#Replication_type=repl_sync
#Cache_Manager=DefaultCacheManager
#UseJBoss=true
#ResetStats= true

#local
#Infinispan_IP_Address=
#Infinispan_JMX_port_number=7992
#Cache_name=x
#JMXDomain_primary=org.infinispan___
#JMXDomain_secondary=org.infinispan
#Replication_type=repl_sync
#Cache_Manager=DefaultCacheManager
#UseJBoss=false
#ResetStats= false

#Cache_name=___defaultcache
#JMXDomain=infinispan
#Replication_type=dist_sync
#Cache_Manager=___defaultcache


#Infinispan_IP_Address=10.100.0.54
#Infinispan_JMX_port_number=9999
#Cache_name=DomainCache
#JMXDomain=it.geograph
#Replication_type=repl_sync
#Cache_Manager=DefaultCacheManager
#UseJBoss=true
